body {
    font-family: 'Arial', sans-serif;
    background-color: #f7f7f7;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.container {
    background-color: white;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    padding: 20px;
    text-align: center;
    width: 90%;
    max-width: 400px;
}

h1 {
    font-size: 28px;
    color: #333;
    margin-bottom: 20px;
}

h2 {
    font-size: 22px;
    color: #444;
    margin-bottom: 15px;
}

.button-container {
    display: flex;
    flex-direction: column;
}

a {
    padding: 12px 25px;
    margin: 10px 0;
    font-size: 18px;
    text-decoration: none;
    border-radius: 5px;
    transition: background-color 0.3s;
}

.active-btn {
    background-color: #4CAF50;
    color: white;
}

.inactive-btn {
    background-color: #A5D6A7;
    color: white;
    cursor: not-allowed;
}

a:hover {
    background-color: #45a049;
}

.back-btn {
    margin-top: 20px;
    display: inline-block;
    padding: 10px 20px;
    background-color: #4CAF50;
    color: white;
    text-decoration: none;
    border-radius: 5px;
    transition: background-color 0.3s;
}

.back-btn:hover {
    background-color: #45a049;
}

input[type="text"] {
    margin-bottom: 15px;
    width: 100%;
    padding: 10px;
    border-radius: 5px;
    border: 2px solid #ddd;
    box-sizing: border-box;
}

button {
    padding: 12px 25px;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s, transform 0.2s;
    margin: 5px;
    width: 100%;
}

button:hover {
    background-color: #45a049;
    transform: scale(1.05);
}

.incorrect {
    color: red;
    text-align: left;
}

#question-counter {
    font-weight: bold;
    margin-bottom: 10px;
}

#final-score {
    font-size: 24px;
    font-weight: bold;
    margin-top: 20px;
}

.hidden {
    display: none;
}
